In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

In [2]:
raw = pd.read_csv("../data/MULTI_hv_parties_9_raw.csv")
pd.set_option('display.max_columns', 500)

In [3]:
raw.head()

,idno,cntry,prtvede1,prtvede2,prtvtdfr,prtvtfhu,prtvtcit,prtvtdpl,lrscale,ipcrtiv,imprich,ipeqopt,ipshabt,impsafe,impdiff,ipfrule,ipudrst,ipmodst,ipgdtim,impfree,iphlppl,ipsuces,ipstrgv,ipadvnt,ipbhprp,iprspot,iplylfr,impenv,imptrad,impfun,Unnamed: 30
0,17,AT,NaN,NaN,NaN,NaN,NaN,NaN,9,2,2,2,2,2,2,2,3,1,2,1,2,2,2,2,2,2,2,3,2,3,NaN
1,31,AT,NaN,NaN,NaN,NaN,NaN,NaN,3,2,4,2,4,1,4,4,2,2,2,2,1,4,1,4,1,3,1,2,1,2,NaN
2,58,AT,NaN,NaN,NaN,NaN,NaN,NaN,3,2,4,3,2,2,3,3,3,3,3,2,3,3,3,3,2,2,2,2,2,3,NaN
3,69,AT,NaN,NaN,NaN,NaN,NaN,NaN,4,3,6,2,6,3,2,2,1,6,2,1,2,5,2,2,2,6,1,2,3,2,NaN
4,98,AT,NaN,NaN,NaN,NaN,NaN,NaN,5,3,4,3,3,2,4,4,3,4,3,3,3,4,3,5,2,3,2,3,3,3,NaN

In [4]:
cols = {'ipcrtiv':'new_ideas',
        'imprich':'rich',
        'ipeqopt':'equality',
        'ipshabt':'abilities',
        'impsafe':'safety',
        'impdiff':'new_diff',
        'ipfrule':'obey',
        'ipudrst':'understand_diff',
        'ipmodst':'modesty',
        'ipgdtim':'good_time',
        'impfree':'freedom',
        'iphlppl':'help_others',
        'ipsuces':'success',
        'ipstrgv':'strong_gov',
        'ipadvnt':'adventures',
        'ipbhprp':'behave',
        'iprspot':'get_respect',
        'iplylfr':'loyalty',
        'impenv':'nature',
        'imptrad':'traditions',
        'impfun':'fun_pleasure',
        'cntry':'country',
        'essround':'round',
        'lrscale':'leftright_scale',
        'Unnamed: 30':'round'}

In [87]:
raw_rename = raw.rename(columns=cols).drop(columns=['idno','leftright_scale','round'])

In [88]:
raw_rename.head()

,country,prtvede1,prtvede2,prtvtdfr,prtvtfhu,prtvtcit,prtvtdpl,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure
0,AT,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2,2,2,2,3,1,2,1,2,2,2,2,2,2,2,3,2,3
1,AT,NaN,NaN,NaN,NaN,NaN,NaN,2,4,2,4,1,4,4,2,2,2,2,1,4,1,4,1,3,1,2,1,2
2,AT,NaN,NaN,NaN,NaN,NaN,NaN,2,4,3,2,2,3,3,3,3,3,2,3,3,3,3,2,2,2,2,2,3
3,AT,NaN,NaN,NaN,NaN,NaN,NaN,3,6,2,6,3,2,2,1,6,2,1,2,5,2,2,2,6,1,2,3,2
4,AT,NaN,NaN,NaN,NaN,NaN,NaN,3,4,3,3,2,4,4,3,4,3,3,3,4,3,5,2,3,2,3,3,3

### Now we slice our raw dataframe to get individual dfs per country

#### DE

In [89]:
DE_raw = raw_rename[raw_rename["country"] == "DE"]

In [90]:
DE_9=DE_raw.drop(columns=['prtvede2',
                          'prtvtdfr',
                          'prtvtfhu',
                          'prtvtcit', 
                          'prtvtdpl',])

In [91]:
DE_9 = DE_9.rename(columns={'prtvede1':'party'}).reset_index(drop=True)

In [92]:
DE_9[['party']] = DE_9[['party']].astype(int)

In [93]:
DE_9.head()

,country,party,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure
0,DE,4,2,5,1,5,5,3,5,2,6,1,1,1,3,4,5,6,4,1,1,6,4
1,DE,66,2,2,2,1,4,2,4,4,3,2,2,3,3,4,4,4,2,2,4,2,3
2,DE,66,1,1,1,1,1,5,4,3,4,3,2,2,2,2,3,2,2,2,2,3,3
3,DE,1,3,6,5,6,2,5,3,2,2,4,3,3,2,2,5,2,3,3,4,2,5
4,DE,1,4,5,1,2,1,2,2,1,3,4,2,1,2,1,4,2,5,2,1,4,5

In [94]:
DE_9.shape

(2358, 23)

#### In order for our analysis to be more precise, we drop the rows were values for each human value are 7(refusal) or 8(don´t know)

In [95]:
DE_9 = DE_9[(~DE_9["new_ideas"].isin([7,8]))
            &(~DE_9["rich"].isin([7,8]))
            &(~DE_9["equality"].isin([7,8]))
            &(~DE_9["abilities"].isin([7,8]))
            &(~DE_9["safety"].isin([7,8]))
            &(~DE_9["new_diff"].isin([7,8]))
            &(~DE_9["obey"].isin([7,8]))
            &(~DE_9["understand_diff"].isin([7,8]))
            &(~DE_9["modesty"].isin([7,8]))
            &(~DE_9["good_time"].isin([7,8]))
            &(~DE_9["freedom"].isin([7,8]))
            &(~DE_9["help_others"].isin([7,8]))
            &(~DE_9["success"].isin([7,8]))
            &(~DE_9["strong_gov"].isin([7,8]))
            &(~DE_9["adventures"].isin([7,8]))
            &(~DE_9["behave"].isin([7,8]))
            &(~DE_9["get_respect"].isin([7,8]))
            &(~DE_9["loyalty"].isin([7,8]))
            &(~DE_9["nature"].isin([7,8]))
            &(~DE_9["traditions"].isin([7,8]))
            &(~DE_9["fun_pleasure"].isin([7,8]))]

In [96]:
DE_9.shape

(2246, 23)

In [97]:
#### We divide our df in 3: 
#### de_ext: those who voted for AfD (party==6)  or NPD(party==8)
#### de_novot: those who didn´t vote (party == 66)
#### de_noext: the rest (also excluding those who didn´t answer(77) or didn´t know(88)

In [98]:
DE_ext = DE_9[DE_9["party"].isin([6,8])]
DE_ext.shape

(93, 23)

In [99]:
DE_novot = DE_9[DE_9["party"] == 66]
DE_novot.shape

(449, 23)

In [100]:
DE_noext = DE_9[~DE_9["party"].isin([6,8,66,77,88])]
DE_noext.shape

(1430, 23)

In [101]:
DE_ext.describe()

,party,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure
count,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000
mean,6.021505,2.365591,4.440860,2.655914,3.698925,2.247312,2.870968,3.505376,2.440860,2.537634,2.559140,1.795699,1.935484,2.903226,1.774194,4.096774,2.967742,3.473118,1.645161,2.053763,2.483871,3.139785
std,0.207390,1.177552,1.183789,1.418010,1.365610,1.109797,1.408251,1.522467,1.088101,1.264560,1.183789,1.006059,0.894506,1.294340,0.979452,1.482247,1.402262,1.348037,0.816210,1.087134,1.456715,1.403345
min,6.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,6.000000,1.000000,4.000000,2.000000,3.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,2.000000,1.000000,3.000000,2.000000,3.000000,1.000000,1.000000,1.000000,2.000000
50%,6.000000,2.000000,5.000000,2.000000,3.000000,2.000000,3.000000,4.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,2.000000,5.000000,3.000000,3.000000,2.000000,2.000000,2.000000,3.000000
75%,6.000000,3.000000,5.000000,3.000000,5.000000,3.000000,4.000000,5.000000,3.000000,3.000000,3.000000,2.000000,2.000000,4.000000,2.000000,5.000000,4.000000,5.000000,2.000000,2.000000,3.000000,4.000000
max,8.000000,6.000000,6.000000,6.000000,6.000000,5.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,5.000000,6.000000,5.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000

In [102]:
DE_noext.describe()

,party,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure
count,1430.000000,1430.000000,1430.000000,1430.000000,1430.000000,1430.000000,1430.000000,1430.000000,1430.000000,1430.000000,1430.000000,1430.000000,1430.000000,1430.000000,1430.000000,1430.000000,1430.000000,1430.000000,1430.000000,1430.000000,1430.000000,1430.000000
mean,2.358042,2.448951,4.538462,2.047552,3.705594,2.609091,3.105594,3.539161,2.021678,2.612587,2.454545,1.934266,1.941958,3.201399,2.378322,4.350350,3.067133,3.483916,1.575524,1.840559,2.911888,3.230769
std,1.708801,1.071866,1.054626,0.998518,1.291371,1.224454,1.319248,1.421446,0.846649,1.137002,1.062941,0.953730,0.827359,1.265906,1.158631,1.249065,1.284443,1.291391,0.661520,0.875627,1.357378,1.309343
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,1.000000,2.000000,4.000000,1.000000,3.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,2.000000,2.000000,3.000000,2.000000,2.000000,1.000000,1.000000,2.000000,2.000000
50%,2.000000,2.000000,5.000000,2.000000,4.000000,2.000000,3.000000,3.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,2.000000,5.000000,3.000000,3.000000,1.000000,2.000000,3.000000,3.000000
75%,3.000000,3.000000,5.000000,2.000000,5.000000,3.000000,4.000000,5.000000,2.000000,3.000000,3.000000,2.000000,2.000000,4.000000,3.000000,5.000000,4.000000,5.000000,2.000000,2.000000,4.000000,4.000000
max,9.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000

#### FR

In [105]:
FR_raw = raw_rename[raw_rename["country"] == "FR"]

In [106]:
FR_9=FR_raw.drop(columns=['prtvede2',
                          'prtvede1',
                          'prtvtfhu',
                          'prtvtcit', 
                          'prtvtdpl',])

In [107]:
FR_9 = FR_9.rename(columns={'prtvtdfr':'party'}).reset_index(drop=True)

In [108]:
FR_9[['party']] = FR_9[['party']].astype(int)

In [109]:
FR_9.head()

,country,party,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure
0,FR,88,2,6,1,2,1,1,5,1,1,1,3,2,4,1,5,2,3,2,1,2,2
1,FR,66,3,5,1,2,1,1,3,1,2,2,1,2,5,2,6,3,5,3,1,1,2
2,FR,7,2,5,2,4,1,3,3,1,4,2,4,1,4,1,6,1,4,1,3,1,3
3,FR,9,1,5,3,5,3,4,2,2,1,3,1,1,4,2,3,1,2,1,2,1,4
4,FR,66,5,5,1,3,1,5,1,1,1,4,5,2,5,1,6,1,5,4,1,1,5

In [110]:
FR_9.shape

(2010, 23)

In [111]:
FR_9 = FR_9[(~FR_9["new_ideas"].isin([7,8]))
            &(~FR_9["rich"].isin([7,8]))
            &(~FR_9["equality"].isin([7,8]))
            &(~FR_9["abilities"].isin([7,8]))
            &(~FR_9["safety"].isin([7,8]))
            &(~FR_9["new_diff"].isin([7,8]))
            &(~FR_9["obey"].isin([7,8]))
            &(~FR_9["understand_diff"].isin([7,8]))
            &(~FR_9["modesty"].isin([7,8]))
            &(~FR_9["good_time"].isin([7,8]))
            &(~FR_9["freedom"].isin([7,8]))
            &(~FR_9["help_others"].isin([7,8]))
            &(~FR_9["success"].isin([7,8]))
            &(~FR_9["strong_gov"].isin([7,8]))
            &(~FR_9["adventures"].isin([7,8]))
            &(~FR_9["behave"].isin([7,8]))
            &(~FR_9["get_respect"].isin([7,8]))
            &(~FR_9["loyalty"].isin([7,8]))
            &(~FR_9["nature"].isin([7,8]))
            &(~FR_9["traditions"].isin([7,8]))
            &(~FR_9["fun_pleasure"].isin([7,8]))]

In [112]:
FR_9.shape

(1804, 23)

In [113]:
#### fr_ext: those who voted for FN (party==11)  
#### fr_novot: those who didn´t vote (party == 66)
#### fr_noext: the rest (also excluding those who didn´t answer(77) or didn´t know(88)

In [114]:
FR_ext = FR_9[FR_9["party"]== 11]
FR_ext.shape

(98, 23)

In [115]:
FR_novot = FR_9[FR_9["party"] == 66]
FR_novot.shape

(761, 23)

In [116]:
FR_noext = FR_9[~FR_9["party"].isin([11,66,77,88])]
FR_noext.shape

(772, 23)

In [117]:
FR_ext.describe()

,party,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure
count,98.0,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000
mean,11.0,2.500000,4.836735,1.938776,3.438776,2.306122,3.020408,4.112245,2.408163,2.295918,2.377551,2.244898,2.132653,4.204082,2.234694,4.132653,2.500000,3.653061,1.826531,2.142857,2.928571,2.887755
std,0.0,1.416035,1.154943,0.939580,1.573402,1.380334,1.585889,1.585258,1.283011,1.451691,1.366124,1.316519,1.118152,1.442786,1.241889,1.461801,1.548195,1.753359,1.130874,1.276270,1.789143,1.552402
min,11.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,11.0,1.000000,4.000000,1.000000,2.000000,1.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,1.000000,3.000000,1.000000,2.000000,1.000000,1.000000,1.000000,2.000000
50%,11.0,2.000000,5.000000,2.000000,4.000000,2.000000,3.000000,5.000000,2.000000,2.000000,2.000000,2.000000,2.000000,5.000000,2.000000,5.000000,2.000000,4.000000,1.000000,2.000000,2.000000,3.000000
75%,11.0,3.000000,6.000000,3.000000,5.000000,3.000000,4.000000,5.000000,3.000000,3.000000,3.000000,3.000000,3.000000,5.000000,3.000000,5.000000,3.000000,5.000000,2.000000,3.000000,5.000000,4.000000
max,11.0,6.000000,6.000000,4.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,5.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000

In [118]:
FR_noext.describe()

,party,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure
count,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000
mean,6.588083,2.599741,5.007772,1.813472,3.834197,2.818653,3.183938,3.980570,2.216321,2.348446,2.420984,2.542746,2.194301,4.286269,2.555699,4.353627,2.591969,3.757772,1.827720,1.963731,3.152850,3.154145
std,2.125447,1.284104,0.868794,0.949530,1.418233,1.414494,1.435099,1.420942,1.086931,1.137310,1.230914,1.327935,1.072504,1.271117,1.312716,1.347746,1.306707,1.414994,0.937811,1.039420,1.588694,1.382988
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,5.000000,2.000000,5.000000,1.000000,3.000000,2.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.000000,1.750000,4.000000,2.000000,3.000000,1.000000,1.000000,2.000000,2.000000
50%,7.000000,2.000000,5.000000,2.000000,4.000000,3.000000,3.000000,4.000000,2.000000,2.000000,2.000000,2.000000,2.000000,5.000000,2.000000,5.000000,2.000000,4.000000,2.000000,2.000000,3.000000,3.000000
75%,9.000000,4.000000,6.000000,2.000000,5.000000,4.000000,4.000000,5.000000,3.000000,3.000000,3.000000,3.000000,3.000000,5.000000,3.000000,5.000000,4.000000,5.000000,2.000000,3.000000,4.000000,4.000000
max,12.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000

#### HU

In [119]:
HU_raw = raw_rename[raw_rename["country"] == "HU"]

In [120]:
HU_9=HU_raw.drop(columns=['prtvede2',
                          'prtvede1',
                          'prtvtdfr',
                          'prtvtcit', 
                          'prtvtdpl',])

In [121]:
HU_9 = HU_9.rename(columns={'prtvtfhu':'party'}).reset_index(drop=True)

In [122]:
HU_9[['party']] = HU_9[['party']].astype(int)

In [123]:
HU_9.head()

,country,party,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure
0,HU,6,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
1,HU,77,3,4,2,2,3,3,3,5,5,2,3,3,2,1,4,3,4,3,2,5,2
2,HU,3,6,5,1,4,1,6,6,3,2,5,1,2,5,2,6,3,3,2,1,2,3
3,HU,7,3,3,1,1,1,2,3,1,1,1,1,1,2,2,5,1,1,1,1,2,1
4,HU,3,3,3,3,3,3,3,3,3,6,3,3,3,3,3,3,3,3,3,6,3,3

In [124]:
HU_9.shape

(1698, 23)

In [125]:
HU_9 = HU_9[(~HU_9["new_ideas"].isin([7,8]))
            &(~HU_9["rich"].isin([7,8]))
            &(~HU_9["equality"].isin([7,8]))
            &(~HU_9["abilities"].isin([7,8]))
            &(~HU_9["safety"].isin([7,8]))
            &(~HU_9["new_diff"].isin([7,8]))
            &(~HU_9["obey"].isin([7,8]))
            &(~HU_9["understand_diff"].isin([7,8]))
            &(~HU_9["modesty"].isin([7,8]))
            &(~HU_9["good_time"].isin([7,8]))
            &(~HU_9["freedom"].isin([7,8]))
            &(~HU_9["help_others"].isin([7,8]))
            &(~HU_9["success"].isin([7,8]))
            &(~HU_9["strong_gov"].isin([7,8]))
            &(~HU_9["adventures"].isin([7,8]))
            &(~HU_9["behave"].isin([7,8]))
            &(~HU_9["get_respect"].isin([7,8]))
            &(~HU_9["loyalty"].isin([7,8]))
            &(~HU_9["nature"].isin([7,8]))
            &(~HU_9["traditions"].isin([7,8]))
            &(~HU_9["fun_pleasure"].isin([7,8]))]

In [126]:
HU_9.shape

(1611, 23)

In [127]:
#### hu_ext: those who voted for Fidesz (party==3)  
#### hu_novot: those who didn´t vote (party == 66)
#### hu_noext: the rest (also excluding those who didn´t answer(77) or didn´t know(88)

In [128]:
HU_ext = HU_9[HU_9["party"]== 3]
HU_ext.shape

(494, 23)

In [129]:
HU_novot = HU_9[HU_9["party"] == 66]
HU_novot.shape

(480, 23)

In [130]:
HU_noext = HU_9[~HU_9["party"].isin([3,66,77,88])]
HU_noext.shape

(414, 23)

In [131]:
HU_ext.describe()

,party,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure
count,494.0,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000
mean,3.0,2.702429,3.757085,2.619433,2.923077,2.093117,3.291498,3.595142,2.868421,2.967611,2.894737,2.580972,2.641700,3.119433,2.342105,4.216599,2.668016,3.147773,2.109312,2.291498,2.720648,2.696356
std,0.0,1.542670,1.499730,1.435887,1.563450,1.445225,1.571826,1.527987,1.417399,1.446463,1.518330,1.449810,1.371679,1.558822,1.458822,1.562637,1.483892,1.613968,1.420009,1.425659,1.443633,1.415972
min,3.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3.0,2.000000,3.000000,2.000000,2.000000,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,3.000000,2.000000,2.000000,1.000000,1.000000,2.000000,2.000000
50%,3.0,2.000000,4.000000,2.000000,3.000000,2.000000,3.000000,3.000000,3.000000,3.000000,3.000000,2.000000,2.000000,3.000000,2.000000,4.000000,2.000000,3.000000,2.000000,2.000000,2.000000,2.000000
75%,3.0,3.000000,5.000000,3.000000,4.000000,3.000000,4.000000,5.000000,4.000000,4.000000,4.000000,3.000000,3.000000,4.000000,3.000000,5.000000,3.000000,4.000000,3.000000,3.000000,3.000000,3.000000
max,3.0,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000

In [132]:
HU_noext.describe()

,party,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure
count,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.00000,414.000000,414.000000,414.000000,414.000000
mean,5.132850,2.821256,4.028986,2.789855,3.214976,2.463768,3.405797,3.876812,3.021739,3.024155,3.251208,2.772947,2.847826,3.483092,2.799517,4.306763,2.990338,3.42029,2.514493,2.565217,3.183575,3.002415
std,3.453494,1.808490,1.719882,1.784190,1.829187,1.793826,1.834447,1.781474,1.716467,1.771279,1.826543,1.752658,1.729542,1.803535,1.766215,1.764625,1.782319,1.89230,1.812930,1.758920,1.735576,1.733446
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000
25%,4.000000,2.000000,3.000000,2.000000,2.000000,1.000000,2.000000,3.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,2.000000,2.00000,1.000000,2.000000,2.000000,2.000000
50%,5.000000,2.000000,4.000000,2.000000,3.000000,2.000000,3.000000,4.000000,3.000000,3.000000,3.000000,2.000000,2.000000,3.000000,2.000000,4.000000,3.000000,3.00000,2.000000,2.000000,3.000000,3.000000
75%,7.000000,3.000000,5.000000,3.000000,4.000000,3.000000,4.000000,5.000000,4.000000,4.000000,4.000000,3.000000,3.000000,4.000000,3.000000,5.000000,4.000000,4.00000,3.000000,3.000000,4.000000,4.000000
max,55.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.00000,9.000000,9.000000,9.000000,9.000000

#### IT

In [133]:
IT_raw = raw_rename[raw_rename["country"] == "IT"]

In [134]:
IT_9=IT_raw.drop(columns=['prtvede2',
                          'prtvede1',
                          'prtvtdfr',
                          'prtvtfhu', 
                          'prtvtdpl',])

In [135]:
IT_9 = IT_9.rename(columns={'prtvtcit':'party'}).reset_index(drop=True)

In [136]:
IT_9[['party']] = IT_9[['party']].astype(int)

In [137]:
IT_9.head()

,country,party,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure
0,IT,7,3,4,2,2,3,4,3,1,3,4,3,1,3,3,4,2,3,3,2,2,4
1,IT,8,2,4,2,2,1,4,4,4,2,3,2,2,2,1,3,2,1,1,2,2,4
2,IT,14,3,6,1,5,1,4,1,1,2,4,3,3,2,1,6,1,1,2,3,1,3
3,IT,66,2,2,2,2,2,2,2,4,3,2,3,3,2,3,2,3,2,2,3,2,2
4,IT,66,6,6,2,3,2,5,2,4,2,6,4,2,3,2,6,2,3,3,3,1,4

In [138]:
IT_9.shape

(2745, 23)

In [139]:
IT_9 = IT_9[(~IT_9["new_ideas"].isin([7,8]))
            &(~IT_9["rich"].isin([7,8]))
            &(~IT_9["equality"].isin([7,8]))
            &(~IT_9["abilities"].isin([7,8]))
            &(~IT_9["safety"].isin([7,8]))
            &(~IT_9["new_diff"].isin([7,8]))
            &(~IT_9["obey"].isin([7,8]))
            &(~IT_9["understand_diff"].isin([7,8]))
            &(~IT_9["modesty"].isin([7,8]))
            &(~IT_9["good_time"].isin([7,8]))
            &(~IT_9["freedom"].isin([7,8]))
            &(~IT_9["help_others"].isin([7,8]))
            &(~IT_9["success"].isin([7,8]))
            &(~IT_9["strong_gov"].isin([7,8]))
            &(~IT_9["adventures"].isin([7,8]))
            &(~IT_9["behave"].isin([7,8]))
            &(~IT_9["get_respect"].isin([7,8]))
            &(~IT_9["loyalty"].isin([7,8]))
            &(~IT_9["nature"].isin([7,8]))
            &(~IT_9["traditions"].isin([7,8]))
            &(~IT_9["fun_pleasure"].isin([7,8]))]

In [140]:
IT_9.shape

(2457, 23)

In [141]:
#### it_ext: those who voted for Lega (party==9)  
#### it_novot: those who didn´t vote (party == 66)
#### it_noext: the rest (also excluding those who didn´t answer(77) or didn´t know(88)

In [142]:
IT_ext = IT_9[IT_9["party"]== 9]
IT_ext.shape

(246, 23)

In [143]:
IT_novot = IT_9[IT_9["party"] == 66]
IT_novot.shape

(656, 23)

In [144]:
IT_noext = IT_9[~IT_9["party"].isin([9,66,77,88])]
IT_noext.shape

(940, 23)

In [145]:
IT_ext.describe()

,party,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure
count,246.0,246.000000,246.000000,246.000000,246.000000,246.000000,246.000000,246.000000,246.000000,246.000000,246.000000,246.000000,246.000000,246.000000,246.000000,246.000000,246.000000,246.000000,246.000000,246.000000,246.000000,246.000000
mean,9.0,2.804878,3.772358,2.467480,2.731707,1.959350,3.000000,2.556911,2.666667,2.455285,3.565041,2.256098,2.337398,2.426829,1.914634,4.174797,2.378049,2.386179,2.154472,2.012195,2.154472,3.178862
std,0.0,1.192894,1.169776,0.928549,1.222731,1.025379,1.248673,1.186150,1.051077,1.028191,1.284856,1.011900,0.914723,1.061733,0.963004,1.317827,0.942947,1.132656,0.876286,0.953968,1.073104,1.248885
min,9.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,9.0,2.000000,3.000000,2.000000,2.000000,1.000000,2.000000,2.000000,2.000000,2.000000,3.000000,2.000000,2.000000,2.000000,1.000000,3.000000,2.000000,2.000000,2.000000,1.000000,1.000000,2.000000
50%,9.0,3.000000,4.000000,2.000000,3.000000,2.000000,3.000000,2.000000,3.000000,2.000000,4.000000,2.000000,2.000000,2.000000,2.000000,4.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000
75%,9.0,3.000000,5.000000,3.000000,3.000000,2.000000,4.000000,3.000000,3.000000,3.000000,4.000000,3.000000,3.000000,3.000000,2.000000,5.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000
max,9.0,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,5.000000,6.000000,5.000000,5.000000,6.000000,6.000000,6.000000,5.000000,6.000000,5.000000,5.000000,6.000000,6.000000

In [146]:
IT_noext.describe()

,party,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure
count,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.00000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000,940.000000
mean,5.591489,2.655319,3.991489,2.275532,2.763830,2.126596,2.992553,2.823404,2.437234,2.426596,3.617021,2.345745,2.26383,2.423404,2.051064,4.156383,2.487234,2.534043,2.076596,1.920213,2.330851,3.369149
std,3.250810,1.167689,1.182915,1.014085,1.162775,1.070435,1.152368,1.188642,0.945420,1.025726,1.250400,1.040517,0.89286,1.053158,1.029671,1.322377,1.016816,1.228830,0.848782,0.918984,1.092186,1.302453
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,1.000000,2.000000,3.000000,2.000000,2.000000,1.000000,2.000000,2.000000,2.000000,2.000000,3.000000,2.000000,2.00000,2.000000,1.000000,3.000000,2.000000,2.000000,1.000000,1.000000,2.000000,2.000000
50%,7.000000,3.000000,4.000000,2.000000,3.000000,2.000000,3.000000,3.000000,2.000000,2.000000,3.500000,2.000000,2.00000,2.000000,2.000000,4.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000
75%,7.000000,3.000000,5.000000,3.000000,3.000000,3.000000,4.000000,4.000000,3.000000,3.000000,4.000000,3.000000,3.00000,3.000000,3.000000,5.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000
max,14.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.00000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,5.000000,6.000000,6.000000

#### PL

In [147]:
PL_raw = raw_rename[raw_rename["country"] == "PL"]

In [148]:
PL_9=PL_raw.drop(columns=['prtvede2',
                          'prtvede1',
                          'prtvtdfr',
                          'prtvtfhu', 
                          'prtvtcit',])

In [149]:
PL_9 = PL_9.rename(columns={'prtvtdpl':'party'}).reset_index(drop=True)

In [150]:
PL_9[['party']] = PL_9[['party']].astype(int)

In [151]:
PL_9.head()

,country,party,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure
0,PL,6,1,5,2,4,3,4,3,2,4,5,2,3,4,2,5,4,5,3,1,3,5
1,PL,2,2,2,2,2,2,2,8,4,6,2,1,4,2,2,2,2,2,2,2,3,2
2,PL,3,3,4,1,3,1,2,5,1,2,2,1,1,2,2,3,3,1,1,1,3,2
3,PL,6,5,4,2,4,2,2,2,3,2,5,3,3,4,2,5,2,2,2,3,2,4
4,PL,66,2,2,2,2,3,2,4,2,5,2,2,3,2,3,2,5,3,2,2,6,2

In [152]:
PL_9.shape

(1500, 23)

In [153]:
PL_9 = PL_9[(~PL_9["new_ideas"].isin([7,8]))
            &(~PL_9["rich"].isin([7,8]))
            &(~PL_9["equality"].isin([7,8]))
            &(~PL_9["abilities"].isin([7,8]))
            &(~PL_9["safety"].isin([7,8]))
            &(~PL_9["new_diff"].isin([7,8]))
            &(~PL_9["obey"].isin([7,8]))
            &(~PL_9["understand_diff"].isin([7,8]))
            &(~PL_9["modesty"].isin([7,8]))
            &(~PL_9["good_time"].isin([7,8]))
            &(~PL_9["freedom"].isin([7,8]))
            &(~PL_9["help_others"].isin([7,8]))
            &(~PL_9["success"].isin([7,8]))
            &(~PL_9["strong_gov"].isin([7,8]))
            &(~PL_9["adventures"].isin([7,8]))
            &(~PL_9["behave"].isin([7,8]))
            &(~PL_9["get_respect"].isin([7,8]))
            &(~PL_9["loyalty"].isin([7,8]))
            &(~PL_9["nature"].isin([7,8]))
            &(~PL_9["traditions"].isin([7,8]))
            &(~PL_9["fun_pleasure"].isin([7,8]))]

In [154]:
PL_9.shape

(1312, 23)

In [155]:
#### pl_ext: those who voted for PiS (party==6)  
#### pl_novot: those who didn´t vote (party == 66)
#### pl_noext: the rest (also excluding those who didn´t answer(77) or didn´t know(88)

In [156]:
PL_ext = PL_9[PL_9["party"]== 6]
PL_ext.shape

(342, 23)

In [157]:
PL_novot = PL_9[PL_9["party"] == 66]
PL_novot.shape

(466, 23)

In [158]:
PL_noext = PL_9[~PL_9["party"].isin([6,66,77,88])]
PL_noext.shape

(387, 23)

In [159]:
PL_ext.describe()

,party,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure
count,342.0,342.000000,342.000000,342.000000,342.000000,342.000000,342.000000,342.000000,342.000000,342.000000,342.000000,342.000000,342.000000,342.000000,342.000000,342.000000,342.000000,342.000000,342.000000,342.000000,342.000000,342.000000
mean,6.0,3.400585,4.137427,2.482456,3.502924,2.216374,3.608187,2.573099,2.769006,2.947368,4.315789,2.576023,2.622807,3.520468,2.219298,4.643275,2.564327,2.926901,2.280702,2.233918,2.040936,4.099415
std,0.0,1.571483,1.393892,1.409431,1.513863,1.490919,1.555896,1.420083,1.441683,1.576079,1.426493,1.510009,1.376747,1.559529,1.441481,1.389613,1.463219,1.620228,1.394430,1.400970,1.438298,1.536095
min,6.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,6.0,2.000000,3.000000,2.000000,2.000000,1.000000,2.000000,2.000000,2.000000,2.000000,3.000000,2.000000,2.000000,2.000000,1.000000,4.000000,2.000000,2.000000,2.000000,1.000000,1.000000,3.000000
50%,6.0,3.000000,4.000000,2.000000,3.000000,2.000000,3.500000,2.000000,2.000000,3.000000,4.000000,2.000000,2.000000,3.000000,2.000000,5.000000,2.000000,3.000000,2.000000,2.000000,2.000000,4.000000
75%,6.0,4.000000,5.000000,3.000000,5.000000,3.000000,5.000000,3.000000,3.000000,4.000000,5.000000,3.000000,3.000000,5.000000,3.000000,5.000000,3.000000,4.000000,3.000000,3.000000,2.000000,5.000000
max,6.0,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000

In [160]:
PL_noext.describe()

,party,new_ideas,rich,equality,abilities,safety,new_diff,obey,understand_diff,modesty,good_time,freedom,help_others,success,strong_gov,adventures,behave,get_respect,loyalty,nature,traditions,fun_pleasure
count,387.000000,387.000000,387.000000,387.000000,387.000000,387.000000,387.000000,387.000000,387.000000,387.000000,387.000000,387.000000,387.000000,387.000000,387.000000,387.000000,387.000000,387.000000,387.000000,387.000000,387.000000,387.000000
mean,4.105943,2.842377,3.888889,2.237726,3.020672,2.131783,2.989664,2.749354,2.392765,3.136951,3.826873,2.131783,2.379845,3.000000,2.222222,4.136951,2.581395,2.739018,2.000000,1.894057,2.400517,3.767442
std,1.624502,1.295053,1.309810,1.119920,1.356079,1.133886,1.244635,1.239137,1.065594,1.327022,1.274908,1.115458,0.983231,1.271448,1.207585,1.373077,1.131492,1.302291,0.952227,0.990442,1.188154,1.322454
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,4.000000,2.000000,3.000000,1.500000,2.000000,1.000000,2.000000,2.000000,2.000000,2.000000,3.000000,1.000000,2.000000,2.000000,1.000000,3.000000,2.000000,2.000000,1.000000,1.000000,2.000000,3.000000
50%,4.000000,3.000000,4.000000,2.000000,3.000000,2.000000,3.000000,2.000000,2.000000,3.000000,4.000000,2.000000,2.000000,3.000000,2.000000,4.000000,2.000000,3.000000,2.000000,2.000000,2.000000,4.000000
75%,4.000000,4.000000,5.000000,3.000000,4.000000,3.000000,4.000000,4.000000,3.000000,4.000000,5.000000,3.000000,3.000000,4.000000,3.000000,5.000000,3.000000,3.000000,2.000000,2.000000,3.000000,5.000000
max,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000